
    <!-- header -->
    <%- include('_header') %>

    <!-- navbar -->
    <%- include('_navbar') %>

    <!-- search bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= filteredByCategory?filteredByCategory.name:'Categories' %></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/">All</a></li>
                        <% categories.forEach(el => { %>
                            <li><a class="dropdown-item" href="/?categoryId=<%= el.id %>"><%= el.name %></a></li>
                        <% }) %>
                    </ul>
                </li>
                <li>
                    <form class="d-flex" role="search">
                        <% if (filteredByCategory) { %>
                            <input type="hidden" name="categoryId" value="<%= filteredByCategory.id %>" />
                        <% } %>
                        <input class="form-control me-2" type="search" placeholder="Insert product name..." aria-label="Search" name="name">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
                <li>
                    <a href="/cart" class="btn btn-outline-secondary">Go to Cart</a>
                </li>
            </ul>
          </div>
        </div>
    </nav>

    <% if (error) { %>
        <p class="text-danger"><%= error %></p>
    <% } %>

    <!-- card -->
    <div class="d-flex flex-row flex-wrap" style="text-align: center;">
    <% products.forEach(el => { %>
        <div class="card" style="width: 18rem; min-width: 300px;">
            <img src="<%= el.imgUrl %>" class="card-img-top" alt="<%= el.name %>" style="width: 100px; height: 100px;">
            <div class="card-body">
            <h5 class="card-title"><%= el.name %></h5>
            <h5 class="card-title"><%= el.Category.name %></h5>
            <p class="card-text"><%= el.description %></p>
            <p class="card-text"><%= formatPrice(el.price) %></p>
            <p class="card-text">total qty purchased</p>
            <p class="card-text"><%= el.stock %></p>
            <form action="/" method="post" class="d-flex flex-column flex-fill">
                <input type="hidden" name="id" value="<%= el.id %>">
                <div class="d-flex align-items-center">
                    <div class="card-text">Qty:</div>
                    <input type="number" name="purchasedQty" class="form-control" style="margin: 0 5px;" value="1" min="1">
                    <div class="card-text">pcs</div>
                </div>
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
            </div>
        </div>
    <% }) %>
    </div>
     
    <!-- footer -->
    <%- include('_footer') %>